

<div>
	<h2>Enter the new puppy here</h2>
	<form action="/create_dog" method="post">
		<label>Name: <input type="text" name="name"></label>
		<br>
		<label>Breed: <input type="text" name="breed"></label>
		<br>
		<label>Weight: <input type="number" name="weight"></label>
	    
	    <br>
	    <button type="submit">Submit this form</button>
	</form>
	<a href="/list_dogs">Go back</a>
</div>